.container {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min_height {
    min-height: 75%;
}