.card {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #666;
    font-size: 16px;
  }
  
  .card p span {
    font-weight: bold;
    color: #444;
  }
  .container_Card {
    width: 100%;
  }